body {
    background-color: black;
    margin: 0;
    padding: 0;
}

canvas {
    margin: 0;
    padding: 0;
    position: absolute;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}